.cursorcontainer {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: black;
    position: fixed;
    transform: translate(-50%, -50%);
    transform-origin: 66% 66%;
    pointer-events: none;
    transition: width 0.3s, height 0.3s, opacity 0.3s, top 0.3s, left 0.3s, transform .1s ease;
    z-index: 10;
    top: -7.5px;
    left: -7.5px;
}

.hover {
    background-color: #7730db;
    opacity: 0.85;    
    width: 50px;
    height: 50px;
    top: -25px;
    left: -25px;
}
